
body {
    background-color: #1D1B26;
    font-family: 'Poppins';

    a {
        text-decoration: none;
        color: #b1eaeb;
    }
}

nav {
    margin: 0 25em 0 25em;
    
}


.body {
    margin: 0 20em 0 20em;
    color: #00C5C8;
    font-family: 'Poppins';

    .post_item {
        background-color: #343141;

        .container {
            margin: 1rem;
            padding: 1rem 0 0 1rem;
        }
    }

    .form-control {
        background-color: #b1eaeb;
        color: black;
        width: 40rem;
    }

    #next {
        padding: 0 1em 0 1em;
        color: var(--primary-color);
    }

    #last {
        color: var(--primary-color);
    }

    #first {
        color: var(--primary-color);
        padding: 0 1em 0 0;
    }

    #priv {
        color: var(--primary-color);
        padding: 0 1em 0 0;
    }

}

.post-edit {
    display: none;
}