{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <center>
        <br><br><br>
    <h2>Create a new post</h2>
    <br>
    <form action="{% url 'create_post' %}" method="POST">
        {% csrf_token %}
        <div class="createform">
            {{ form.body }}
        </div>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
    </center>
{% endblock %}
{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}