{% extends "network/layout.html" %}

{% block body %}
{% for post in post %}
<div class="post_item index_post">
    <strong><a href="{% url 'profile' post.author %}">{{post.author}}</a></strong>
    <div class="post-body" value="{{post.id}}">
       <div class="original">{{ post.body }}</div>
       <div class="time">At: {{ post.date }}</div>
    </div>
    <br>
    <hr>
</div>
    {% endfor %}

    <center>
        <hr><br>
        {% if post.has_previous %}
        <a id="first" href="?page=1">&laquo First</a>
        <a id="priv" href="?page={{ post.previous_page_number }}">Previous</a>
        {% endif %}
        Page {{ post.number }} of {{ post.paginator.num_pages }}
        {% if post.has_next %}
        <a id="next" href="?page={{ post.next_page_number }}">Next</a>
        <a id="last" href="?page={{ post.paginator.num_pages }}">Last &raquo</a>
        {% endif %}
        <br>
        <br>
    </center>

{% endblock %}