{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="user-info">
    <h1>{{ profile_user }}</h1>
    <br><br>
    Following: {{ following }}
    
    Followers: <span class="following_count">{{ followers }}</span>
    <br><br>
    {% if request.user != profile_user %}
    {% if status == False %}
        <button class="toggle-btn" id="follow-btn" value="{{ profile_user.username }}">Follow</button>
    {% else %}
        <button class="toggle-btn" id="unfollow-btn" value="{{ profile_user.username }}">Unfollow</button>
    {% endif %}
     <br><br>
    {% endif %}

</div>

<div class="user-posts">
    {% for post in post %}
    {% if post.author == profile_user %}
    <div class="post_item index_post" value="{{post.id}}">
        <strong><a href="{% url 'profile' post.author %}">{{post.author}}</a></strong>
        <div class="post-body">
           <div class="original">{{ post.body }}</div>
           <div class="post-edit">
            <form>
                <div class="mb-3">
                    <label class="form-label">Edit your post</label>
                    <textarea class="form-control" rows="3" required>{{ post.body }}</textarea>
                    <button type="submit" class="btn btn-primary" value="{{post.id}}" >Save</button>
                    <button type="submit" class="btn btn-primary cancel">Cancel</button>
                  </div>
            </form>
           </div>
           <div class="time">At: {{ post.date }}</div>
        </div>
        <br>
        <div class="like-post">
            <form>
                {% if request.user in post.likes.all %}
                <button class="btn btn-primary like-btn" id="unlike" value="{{post.id}}">Unlike</button>
                {% else %}
                <button class="btn btn-primary like-btn"  id="like" value="{{post.id}}">Like</button>
                {% endif %}
                <span class="likes-count">{{ post.total_likes }}</span> likes
            </form>
        </div>
        {% if request.user == post.author %}
        <button type="button" value="{{post.id}}" class="btn btn-outline-primary edit-btn">Edit</button>
        {% endif %}
        <hr>
    </div>
    {% endif %}
    {% endfor %}
</div>

<center>
    <hr><br>
    {% if post.has_previous %}
    <a id="first" href="?page=1">&laquo First</a>
    <a id="priv" href="?page={{ post.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ post.number }} of {{ post.paginator.num_pages }}
    {% if post.has_next %}
    <a id="next" href="?page={{ post.next_page_number }}">Next</a>
    <a id="last" href="?page={{ post.paginator.num_pages }}">Last &raquo</a>
    {% endif %}
    <br>
    <br>
</center>

{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}